<div>
  <!-- <auth-form (submitted)="createUser($event)">
    <h3 id="title">Create Account</h3>
    <button type="submit" submitButton>
      Join us
    </button>
  </auth-form> -->
  <!-- <auth-form (submitted)="loginUser($event)">
    <h3 id="title">Login</h3>
    <auth-remember rememberMe (checked)="rememberUser($event)"></auth-remember>
    <auth-remember rememberMe (checked)="rememberUser($event)"></auth-remember>
    <auth-remember rememberMe (checked)="rememberUser($event)"></auth-remember>
    <button type="submit" submitButton>
      Login
    </button>
  </auth-form> -->
  <!-- <div>
  <button (click)="destroyComponent()">Destroy</button>
  <button (click)="moveComponent()">Move</button>

  </div> -->
  <!-- <div #entry></div> -->
  <!-- <ng-container [ngTemplateOutlet]="tmpl" [ngTemplateOutletContext]="ctx">
  </ng-container>
  <ng-template #tmpl let-name let-location="location">
    {{name}} :  {{location}} -->
    <!-- Ricardo HG :  CDMX, MX -->
  <!-- </ng-template> -->
</div>
